body {
    background-color: white;
}

/* Header */
header {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(182, 241, 250); */
}

.header-title {
    font-size: 2.5em;
    float: left;
    margin-right: 25px;
}

.header-right {
    padding: 11px;
    font-family: sans-serif;
    float: right;
}

.header-right .link:hover {
    text-decoration: underline solid rgb(182, 241, 250) !important;
}



ul {
    list-style: none;
    padding: 0;
    margin-right: 100px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
    margin: 10px;
    text-align: center;
    font-size: 1.3em;
}

@media screen and (max-width: 900px) {
    /* (TODO: paytondennis) Change to Grid and show Hamburger Icon */
    li {
        font-size: 1em;
    }
}

/* ----------------------- Hero Section */


/* Hero title */
:root {
    --animate-duration: 2s;
}

.hero h3 {
    padding: 25px;
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 4em; 
    margin-bottom: 24px;
}

.hero .heroButton {
    margin-left: 25px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: rgb(182, 241, 250);
}

.hero img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Search Section */
.searchSection {
    background-color: rgb(182, 241, 250);
}